<!DOCTYPE html>
<html>
  <head>
    <link href="{{ url_for('static', path='/style.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', path='/globals.css') }}" rel="stylesheet">

    <link rel="stylesheet" href="globals.css" />
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <div class="shopping-cart">
      <div class="div">
        <div class="mill clickable" data-target="card">
          <div class="text-wrapper">Mill-1</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-2 clickable" data-target="card">
          <div class="text-wrapper">Mill-4</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-3 clickable" data-target="card">
          <div class="text-wrapper">Mill-7</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-4 clickable" data-target="card">
          <div class="text-wrapper">Mill-10</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-7.svg') }}" />
        </div>
        <div class="mill-5 clickable" data-target="card">
          <div class="text-wrapper">Mill-2</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-7.svg') }}" />
        </div>
        <div class="mill-6 clickable" data-target="card">
          <div class="text-wrapper">Mill-5</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-7 clickable" data-target="card">
          <div class="text-wrapper">Mill-8</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-7.svg') }}" />
        </div>
        <div class="mill-8 clickable" data-target="card">
          <div class="text-wrapper">Mill-11</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-9 clickable" data-target="card">
          <div class="text-wrapper">Mill-3</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-10 clickable" data-target="card">
          <div class="text-wrapper">Mill-6</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-7.svg') }}" />
        </div>
        <div class="mill-11 clickable" data-target="card">
          <div class="text-wrapper">Mill-9</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="mill-12 clickable" data-target="card">
          <div class="text-wrapper">Mill-12</div>
          <div class="text-wrapper-2">25</div>
          <div class="overlap">
            <div class="text-wrapper-3">75</div>
            <div class="text-wrapper-4">75</div>
          </div>
          <div class="text-wrapper-5">15-09-2023 12:00:02</div>
          <div class="text-wrapper-6">100</div>
          <div class="defect">Defect&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          <div class="overlap-group">
            <div class="text-wrapper-7">Non Defect :</div>
            <div class="wrong-tip">Wrong tip&nbsp;&nbsp;&nbsp;&nbsp;:</div>
          </div>
          <div class="text-wrapper-8">Last cone at :</div>
          <img class="material-symbols" src="{{ url_for('static', path='//Image/material-symbols-mode-off-on-2.svg') }}" />
        </div>
        <div class="page-heading">
          <div class="text-wrapper-9">Cone Inspection Mill Status</div>
          <img class="divider" src="img/divider.svg" />
        </div>
      </div>
    </div>

    <script>
      // Get all clickable mill elements
      const clickableMillElements = document.querySelectorAll('.clickable');
      console.log(clickableMillElements) ; 
      // Add click event listeners to each clickable mill element
      clickableMillElements.forEach((millElement) => {
        millElement.addEventListener('click', () => {
          // Get the target URL from the data-target attribute
          const targetURL = millElement.getAttribute('data-target');
          
          // Redirect to the target URL
          window.location.href = targetURL;
        });
      });
    </script>
    
    
  </body>
</html>
